@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css2?family=kanit:wght@100&display=swap);
body{
    font-family: 'kanit', sans-serif;
    background-color: #fcdcce;
}

#navbarSupportedContent a:hover
{
    background-color: #FE7F2D;
}
/* navbar css starts here  */
.bg-light{
    background-color: #efefef!important;
}

.navbar-brand{
    font-family: 'Oswald', impact;
    font-size: 1.5rem;
    color: black!important;
}

.nav-link{
    color: black!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #cdbbbb;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}
#table_topic
{
    background-color: #f15e5b;
}
.table-danger, .table-danger>td, .table-danger>th {
    background-color: #FF521B;
}
.table-hover .table-danger:hover>th {
    background-color: #EFEFEF;
}
.btn-info{
    padding: 1rem 1.2rem;
    background-color:#b4b1ae!important;
    color: #FF521B!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #7A7D7D!important;
}

.table-light, .table-light>td, .table-light>th {
    background-color: #ffd37a;
}
.table-hover .table-light:hover>td{
    background-color: #ffd560;
}